<section class ="input-form">
  <h1>Войдите в контекст</h1>

  <%= form_tag sessions_path do %>
    <div class="input-form_element">
      <%= label_tag :email, 'Your email:' %><%= text_field_tag :email, params[:email] %>
    </div>

    <div class="input-form_element">
      <% label_tag :password, 'And password:' %><%= password_field_tag :password %>
    </div>

    <%= submit_tag 'Enter context' %>
    <%= link_to 'or register', new_user_path %>
  <% end %>
</section>
