<section class="input-form">
  <h1>Login or sign up to context</h1>

  <%= form_tag sessions_path do %>
    <div class="input-form__element">
      <%= label_tag :email, 'Email:' %><%= text_field_tag :email, params[:email] %>
    </div>

    <div class="input-form__element">
      <%= label_tag :password, 'Password:' %><%= password_field_tag :password %>
    </div>

    <%= submit_tag 'login' %> or
    <%= link_to 'sign up', signup_path %>
  <% end %>
</section>
